.car {
  background: var(--text-color);
  border-radius: 30px;
  padding: 30px;
  transition: all 0.3s ease-in-out;
}
.car:hover {
  filter: brightness(0.7);
}
.photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}