<main>
  <header>
    <img src="assets/imag.png" alt="" class="logo" routerLink="/">
    <h2 routerLink="catalogue" class="link">Каталог</h2>
    <h2 routerLink="about" class="link">O нас</h2>
  </header>
  <section>
    <router-outlet></router-outlet>
  </section>
  <footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h2>Автосалон машин из Китая "Фарфор"</h2>
            <p>Мы  - команда готовая предоставить лучший опыт покупки автомобиля из Китая.</p>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 "Фарфор". Все права защищены | Designed by Simon Chernopyatov
    </div>
</footer>

</main>