.intro {
    height: calc(35vh - 80px);
    background-image: url('interier.jpg');
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: end;
    align-items: end;
    font-size: 24px;
    padding: 30px;
    gap: 20px;
}
.grad {
    background: linear-gradient(to left, #0b032d, white);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.filter {
    background-color: var(--dark-color);
}
.filterBtn {
    background-color: var(--text-color);
    color: var(--dark-color);
    font-family: inherit;
    font-size: 44px;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
}
.filterBtn:active {
    transform: scale(0.9);
}

.results {
    background: var(--dark-color);
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    justify-content: space-around;
    padding: 10px;
    padding-bottom: 60px;
}