<section class="intro" #trigger>
    <h2 class="grad">Каталог машин из Китая</h2>
    <p class="grad">Доставка от 5 месяцев! </p>
</section>
<section class="filter">
    <button class="Btn" (click)="getAllCarsButton()">Все бренды</button>
    <div class="Btn" class="BrandFiltering">
        <button class="Btn" (click)="toggleButton()">Сортировать ↓</button>
        <div class="dropdown" [ngClass]="{ 'active': isToggled }">
            @for (brand of uniqueBrands; track brand) { <!-- uniqueBrands.value-->
                <a (click)="filterCars(brand)"> {{brand}} </a>
            }
        </div>
    </div>
</section>
<section class="results">
    @defer () {
        @for(car of filteredCars; track car.id) {
            <app-car [car]="car"></app-car>
        }
}    @loading (minimum 500ms) {
        <mat-spinner style="margin: 0 auto"></mat-spinner>
    }
</section>
