<section class="intro">
    <h2 class="grad">Renting of luxury cars in Moscow</h2>
    <p class="grad">Only the best cars with the full security package</p>
</section>
<section class="filter">
    <button class="Btn" (click)="getAllCarsButton()">All brands</button>
    <div class="Btn" class="BrandFiltering">
        <button class="Btn" (click)="toggleButton()">Filter by brand ↓</button>
        <div class="dropdown" [ngClass]="{ 'active': isToggled }">
            @for (brand of uniqueBrands.value; track brand) {
                <a (click)="filterCars(brand)"> {{brand}} </a>
            }
        </div>
    </div>
</section>
<section class="results">
    @for(car of filteredCars; track car.id) {
        <app-car [car]="car"></app-car>
    }
</section>
