.intro {
    height: calc(35vh - 80px);
    background-image: url('interier.jpg');
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: end;
    align-items: end;
    font-size: 24px;
    padding: 30px;
    gap: 20px;
}
.grad {
    background: linear-gradient(to left, #0b032d, white);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.results {
    background: var(--dark-color);
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    justify-content: space-around;
    padding: 10px;
}