* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --dark-color: #000814;
    --hover-white: #757575;
    --text-color: white;
}
body {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
