<article>
    <section class="head">
        <img class="photo" [src]="car?.photo" alt="photo of a car">
        <div class="information">
            <h1> {{car?.brand}} {{car?.model}} is the best car</h1>
            <h2>This car has {{car?.horsepowers}} horsepowers, it was manufactured in {{car?.year}}, and it costs{{car?.price}} for a day</h2>
        </div>
    </section>
    <section class="form">
        <h2 style="color:green">{{text}}</h2>
        <h1>Rent the car of your dream right now! </h1>
        <form [formGroup]="carForm" (submit)="submitForm()">
            <label for="name"></label>
            <input formControlName="name" placeholder="Name">
    
            <label for="surname"></label>
            <input formControlName="surname" placeholder="Surname">
    
            <label for="phone"></label>
            <input formControlName="phone" placeholder="Phone">
            <button type="submit" class="button">Submit form</button>
        </form>
    </section>
</article>