article {
    padding: 20px;
}

.head, .form {
    padding: 10px;
}

.head {
    text-align: center;
}

.photo {
    height: auto;
    width: 100%;
    max-width: 600px;
    border-radius: 30px;
}

.information, .form {
    margin-top: 20px;
}

.form {
    text-align: center;
}
.formclass {
    margin: 20px;
    display: grid;
    grid-gap: 10px;
    place-content: center;
}

.button {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    font-family: inherit;
    color: var(--text-color);
    padding: 12px 24px;
    border-radius: 6px;
    background: var(--dark-color);
    border: 1px solid white;
    transition: 0.4s ease;
}

.button:hover {
    background: var(--text-color);
    color: var(--dark-color);
    border: var(--dark-color) solid 1px;
}

.button:active {
    transform: scale(0.95);
}

@media screen and (min-width: 600px) {
    article {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .head, .form {
        flex: 1;
    }

    .form {
        margin-left: 20px;
        text-align: left;
    }

    .button {
        font-size: 32px;
    }
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 24px;
    }
}

@media (max-width: 1100px) {
    .photo {
        max-width: 100%;
    }
}
