<article>
    <section class="head">
        <img class="photo" [src]="car?.photo" alt="photo of a car">
        <div class="information">
            <h1> {{car?.brand}} {{car?.model}} напрямую из Китая!
            </h1>
            <p>Год производства: {{ car?.year }}</p>
            <p>Мощность: {{ car?.horsepowers }} л.с</p>
            <p>Цена от: {{ car?.price }} рублей</p>
        </div>
    </section>
    <section class="form">
        <h1>Оставьте заявку и наш менеджер свяжется c вами для уточнения деталей!</h1>
        <h2 style="color:green">{{text}}</h2>
        <form [formGroup]="carForm" (submit)="submitForm()" class="formclass">
            <mat-form-field appearance="outline">
                <mat-label>Имя</mat-label>
                <input matInput formControlName="name" placeholder="Дмитрий">
                @if (carForm.invalid) {
                    <mat-error>Неверный формат</mat-error>
                }
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Номер телефона</mat-label>
                <input matInput formControlName="phone" placeholder="702341212341">
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <button type="submit" class="button">Отправить заявку</button>
        </form>
    </section>
</article>